
.Profile {
    width: 300px;
    height: 100%;
    position: fixed;
    background-color: white;
    font: 14px/1 Courier New, monospace;
    color: #000000;
    padding: 20px;
}
.Experience {
    position:relative;
    left: 300px;
    background-color: #E4DED0;
    font: 16px/1.2 Courier New, monospace;
    color: #000000;
    padding: 10px;
}
